@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{

    height: 40px;
    width: 10px;
    border-radius: 2px;
}
::-webkit-scrollbar-thumb {
    background: black; 
    border-radius: 10px;
  }
.radial-gradient-text {
    background-image: radial-gradient(circle, #ff00a2, #7700ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }